{% extends "base.html" %}

{% block content %}
<h1 class="article-title center"><a href="#" class="blue-tag">archive</a></h1>

{% for article in dates %}
  <dl>
    <dt>{{ article.date|strftime("%b %d, %Y") }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    <dd>{{ article.summary }}</dd>
    {% if article.tags %}
    <dd>
    {% for tag in article.tags %}
      <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
    </dd>
    {% endif %}
{% endfor %}

{% endblock content %}