{% extends "base.html" %}

  {{ super() }}

{% block content %}
<article>
  <h1 class="article-title">{{ article.title }}</h1>
  {{ article.content }}
  <div class="article-footer">
      <h4>
          Posted on {{ article.date|strftime("%B %d, %Y") }} 
          {% if article.tags %}
          in 
          {% for tag in article.tags %}
          <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
          {% endfor %}
          {% endif %}
      </h4>
  </div>
</article>
{% endblock %}