{% extends "base.html" %}

{% block twitter %}
  <!-- TWITTER CARD -->
  <meta name="twitter:site" content="@patrickrgaffney">
  <meta name="twitter:title" content="{{ SITENAME }}">
  <meta name="twitter:description" content="by Pat Gaffney">
  <meta name="twitter:image" content="{{ SITEURL }}/hypepat256.png">
  <meta name="twitter:card" content="summary">
{% endblock twitter %}

{% block content %}

{% for article in articles_page.object_list %}
  <dl>
    <dt>{{ article.date|strftime("%b %d, %Y") }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    <dd>{{ article.summary }}</dd>
    {% if article.tags %}
    <dd>
    {% for tag in article.tags %}
      <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    {% endfor %}
    </dd>
    {% endif %}
{% endfor %}

{% endblock content %}