{% extends "base.html" %}

{% block content %}
<h1 class="article-title center"><a href="{{ SITEURL }}/{{ tag.url }}" class="tag">{{ tag }}</a></h1>

{% for article in articles %}
  <dl>
    <dt>{{ article.date|strftime("%b %d, %Y") }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    <dd>{{ article.summary }}</dd>
    {% if article.tags %}
    {% for tag in article.tags %}
    <dd>
      <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    </dd>
    {% endfor %}
    {% endif %}
{% endfor %}

{% endblock %}
