<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
  {% if page.title %}
  <title>{{ site.title | escape }} &raquo; {{ page.title | escape }}</title>
  {% else %}
  <title>{{ site.title | escape }}</title>
  {% endif %}
  
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">
  
  <link href="/styles.css" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
  
  <meta name="author" content="{{ site.author }}">
  {% for tag in page.tags %}
  <meta name="keywords" content="{{ tag }}">
  {% endfor %}
  {% if page.summary %}
  <meta name="description" content="{{ page.summary | strip_html }}">
  {% endif %}
  
  <meta name="twitter:site" content="@patrickrgaffney">
  {% if page.title %}
  <meta name="twitter:title" content="{{ site.title }} &raquo; {{ page.title }}">
  {% else %}
  <meta name="twitter:title" content="{{ site.title }}">
  {% endif %}
  {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary | strip_html }}">
  {% endif %}
</head>