{% extends "base.html" %}

{% block twitter %}
  <!-- TWITTER CARD -->
  <meta name="twitter:site" content="@patrickrgaffney">
  <meta name="twitter:title" content="{{ SITENAME }}">
  <meta name="twitter:description" content="by Pat Gaffney">
  <meta name="twitter:image" content="{{ SITEURL }}/hypepat256.png">
  <meta name="twitter:card" content="summary">
{% endblock twitter %}

{% block content %}

<!-- {% for month, articles in date_year|groupby('date.month')|sort(reverse=NEWEST_FIRST_ARCHIVES) %} -->
{% for article in articles %}
  <dl>
    <dt>{{ article.date|strftime("%b %d, %Y") }}</dt>
    <dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
    <dd>{{ article.summary }}</dd>
    {% if article.tags %}
    {% for tag in article.tags %}
    <dd>
      <a class="tag" href="{{ SITEURL }}/{{ tag.url }}">{{ tag }}</a>
    </dd>
    {% endfor %}
    {% endif %}
{% endfor %}
<!-- {% endfor %} -->

{% endblock %}